<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
        <div><a href="/welcome/admin" class="navbar-brand">App Factory</a></div>
        <div class="container-fluid">
            <ul class="navbar-nav navbar-left">
                <li><a routerLink="/welcome/admin" class="nav-link">Home</a></li>
                <li><a routerLink="/todos" class="nav-link">Todos</a></li>
            </ul>
            <ul class="navbar-nav  justify-content-end">
                <li><a routerLink="/login" class="nav-link">Login</a></li>
                <li><a routerLink="/logout" class="nav-link">Logout</a></li>
            </ul>
        </div>
        
    </nav>
</header>

