
<h1>Welcome!</h1>
<div class="container">
    <p>Welcome {{name}} , to our awesome App . You can manage your todos <a routerLink="/todos" >here</a></p>
</div>
<div class="container">
        Click here to get customized welcome message 
        <button (click)="getWelcomeMessage()" class="btn btn-success">Get Welcome Message</button>
</div>
<div class="container">
    Click here to get customized  message with parameters
    <button (click)="getMessageParam()" class="btn btn-success">Get Message Params</button>
</div>
<div class="container" *ngIf='messageFromService'>
    <h2>You customized welcome message</h2>
    {{messageFromService}}
</div>